.StatusBoard {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: fit-content;
	margin: 20px auto;
	background-color: gold;
	font-weight: 600;
	font-size: 20px;
	display: flex;
	padding: 10px;
	width: 250px;
	color: black;
}

.BottomStatusContainer {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
	text-align: center;
	width: fit-content;
	margin: 20px auto;
	font-weight: 600;
	font-size: 25px;
	color: black;
	display: flex;
	padding: 20px;
}
